/* qui va il mio codice css */
.bg-gainsboro {
	background-color: gainsboro;
	border-width: 20px;
	border-style: solid;
	border-color: #FFF5EE;
}
}
header img {
	width: 100%;
}
.bg-font {
	font-style: Arial;
	font-size: 32;

}
p {
	text-align: center;
}
p {
	text-align: left;
}
.text-align {
	margin-top: 10px;
}
.text-align-1 {
	margin-top: 60px;
}
.text-align-2 {
	margin-top: 80px;
}
.text-align-3 {
	margin-top: 20px;
}
.text-align-4 {
	margin-top: 85px;
}
.text-align-5 {
	margin-top: 40px;
}