/* qui va il mio codice css */
.bg-gainsboro {
	background-color: gainsboro;
	border-width: 20px;
	border-style: solid;
	border-color: #FFF5EE;
}
}
header img {
	width: 100%;
}
.bg-font {
	font-style: Arial;
	font-size: 32;

}
p {
	text-align: center;
}
p {
	text-align: left;
}